@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: Inter;
}

.headha {
  font-family: Inter;
  font-weight: 500;
  margin-top: 75px;
  text-align: center;
}
.inp {
  white-space: normal;
  border: 1px solid black;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.3em;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 40px;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.ns2 {
  /* margin-top: 55px; */
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.other {
  align-self: flex-start;
  background-color: rgb(230, 228, 228);
  margin-bottom: 10px;
  padding: 10px;
  height: fit-content;
  margin-left: 200px;
  width: fit-content;
  /* max-width: 475px; */
  position: relative;
  top: 120px;
  z-index: -10;
  border-radius: 15px;
}

.me {
  align-self: flex-end;
  background-color: rgb(210, 237, 246);
  margin-bottom: 10px;
  padding: 10px;
  margin-right: 200px;
  width: fit-content;
  max-width: 475px;
  position: relative;
  z-index: -10;
  margin-bottom: 30px;
  top: 120px;
  border-radius: 15px;
}

.stickyFooter {
  flex-shrink: 0; /* Don't shrink the footer */
}

.inputContainer {
  position: fixed;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  left: 324px; /* Adjust the distance from the left as needed */
  width: 1050px;
  height: 40px; /* Adjust the width as needed */
  display: flex;
}

.mainbruh {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
}

.bootySend {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.ps1 {
  margin: 0;
  margin-bottom: 06px;
  margin-top: 5px;
  font-weight: 500;
}
.ps2 {
  margin: 0;
  margin-bottom: 06px;
  margin-top: 9px;
  font-size: 13px;
  font-weight: 200;
}
.container2 {
  display: flex;
  height: 30px;
  position: fixed; /* Fixed positioning */
  top: 0; /* Position at the top */
  left: 0; /* Align left */
  z-index: 999; /* Ensure it's on top of other content */
  background-color: #f0f0f0;
  width: 1105px;
  padding: 10px;
  margin-left: 300px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
/* .on {
  font-size: 30px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
} */
.ons {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.initial2 {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: none;
  background-color: rgb(41, 127, 247);
  color: white;
  font-size: 20px;
  margin: 0;
  margin-right: 30px;
}
.whichChat {
  position: absolute;
  height: fit-content;
  min-height: 100%;
  width: 180px;
  background-color: rgb(237, 235, 235);
  padding-top: 5px;
  margin-left: 0;
  top: 150px;
}
.chats {
  font-size: 20px;
  border-bottom: 1px solid rgb(195, 193, 193);
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.chats:hover {
  cursor: pointer;
  background-color: rgb(206, 206, 206);
}
.greendot {
  display: flex;
  height: 11px;
  width: 11px;
  background-color: rgb(2, 251, 2);
  border-radius: 50%;
  border: none;
  position: relative;
  right: -19px;
  top: -10px;
  flex-direction: row;
}
