.page {
  /* border: none; */
  height: 845px;
  width: 695px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-size: 16px;
  margin-bottom: 80px;
}
.page:focus {
  outline: none;
}
